{# src/Syntax/BlogBundle/Resources/views/Blog/voir.html.twig #}

{% extends "SyntaxBlogBundle::layout.html.twig" %}

{% block title %}
	Lecture d'un article - {{ parent() }}
{% endblock %}

{% block blog_body %}

	<h2>{{ article.titre }}</h2>
	<i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>

	<div class="well">
		{{ article.contenu }}
	</div>

	<p>
		<a href="{{ path('blog_accueil') }}" class="btn">
			<i class="icon-chevron-left"></i>
			Retour à la liste
		</a>
		<a href="{{ path('blog_modifier', {'id': article.id}) }}" class="btn">
			<i class="icon-edit"></i>
			Modifier l'arti
		<a href="{{ path('blog_supprimer', {'id': article.id}) }}" class="btn">
			<i class="icon-trash"></i>
			Supprimer l'article
		</a>
	</p>

{% endblock %}